<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details - MindMate</title>
    <link rel="icon" href="/static/image/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="details-bg">
    <div class="details-card">
        <h2>Your Name & Pronouns</h2>
        <input type="text" placeholder="Enter your name" id="userNameInput">
        
        <div class="buttons">
            <button class="option">She/Her</button>
            <button class="option">He/Him</button>
            <button class="option">They/Them</button>
        </div>

        <button class="continue" onclick="window.location.href='/age'">Continue</button>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>