<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MindMate</title>
    <link rel="icon" href="/static/image/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-bg">
    <div class="login-card">
        <h2>Welcome to MindMate</h2>
        <input type="email" placeholder="Enter Email"><br>
        <input type="password" placeholder="Enter Password"><br>
        
        <button onclick="window.location.href='/details'">Log In</button>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>